@{
    string liveStreamUrl = "https://live.bilibili.com/13353409";
}

<div class="container countdown">
    <div id="livestream">
        <h2>直播已结束</h2>
        <h3>我们将在近期分享直播录像</h3>
    </div>
</div>
