@{
    string liveStreamUrl = "https://live.bilibili.com/13353409";
}

<div class="container countdown">
    <div id="livestream">
        <h2>直播回放</h2>
        <h3>
          <a href="https://www.bilibili.com/video/av86321000" target="_blank">▶️Bilibili</a>&nbsp;&nbsp;
          <a href="https://www.youtube.com/playlist?list=PLhPds7U_HuosMHuDsiUfvrXmOYIRPw0uM" target="_blank">▶️Youtube</a>
        </h3>
    </div>
</div>
