@{
    string liveStreamUrl = "https://live.bilibili.com/13353409";
}

<div class="container countdown">
    <div id="livestream">
        <h2>直播回放</h2>
        <h3><a href="https://www.bilibili.com/video/av86321000" target="_blank">Bilibili</a> Youtube (coming soon)</h3>
    </div>
</div>
